body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 50px 300px;
    grid-row-gap: 10px;
    justify-content: center;
    background-color: #FAFAFA;
}

#title {
    margin: auto;
}

#mainSection {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-column-gap: 10px;
}

#myForm {
    display: grid;
    grid-template-rows: 45px 45px 45px 45px 45px 45px;
    grid-row-gap: 5px;
    justify-items: center;
    width: 200px;
}

#myForm div input {
    width: 100%;
}

#myForm input {
    transition: border 0.5s ease;
    height: 25px;
    background-color: #B3CCFF;
    border-radius: 10px;
    border: none;
    padding-left: 3px;
    box-shadow: 1px 1px 1px rgba(78, 78, 78, 0.7);
}

#myForm input:focus {
    outline-width: 0px;
    box-shadow: 2px 2px 1px rgba(78, 78, 78, 0.7);
    
}

#myForm label {
    font-weight: 300;
    margin-left: 10px;
}

#myForm__btnContainer {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 90px 90px;
    grid-column-gap: 10px;
}

#section__signatureContainer {
    background-color: #B3CCFF;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #4E4E4E;    
    display: grid;
    grid-template-rows: 10px 10px 10px 10px 10px;
    grid-row-gap: 10px;
    padding-top: 10px;
}

#section__signatureContainer p {
    margin: 0 0 0 5px;
}

.myForm__btn {
    transition: background-color 0.5s ease-in;
    border: none;
    background-color: #4E4E4E;
    width: 90px;
    height: 35px;
    font-weight: bold;
    box-shadow: 1px 1px 3px;
    border-radius: 8px;
}

.myForm__btn:hover {
    background-color: rgba(78, 78, 78, 0.7);
}

.myForm__btn:focus {
    outline-width: 0px;
}